QLVS_1911060974_Hai/QLSV_1911060974_Hai/Connected Services/ServiceReference1/QLVS_1911060974_Hai.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/QLVS_1911060974_Hai" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/QLVS_1911060974_Hai" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Class1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hocphan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Makhoa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Malop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Masv" type="xs:int" />
      <xs:element minOccurs="0" name="Tensv" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Class1" nillable="true" type="tns:Class1" />
  <xs:complexType name="ArrayOfClass1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Class1" nillable="true" type="tns:Class1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClass1" nillable="true" type="tns:ArrayOfClass1" />
</xs:schema>