QLVS_1911060974_Hai/QLSV_1911060974_Hai/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/QLVS_1911060974_Hai" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/QLVS_1911060974_Hai" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/QLVS_1911060974_Hai" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertClass1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/QLVS_1911060974_Hai" minOccurs="0" name="p" nillable="true" type="q3:Class1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertClass1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertClass1Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClass1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/QLVS_1911060974_Hai" minOccurs="0" name="p" nillable="true" type="q4:Class1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClass1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateClass1Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClass1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/QLVS_1911060974_Hai" minOccurs="0" name="p" nillable="true" type="q5:Class1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClass1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteClass1Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClass1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/QLVS_1911060974_Hai" minOccurs="0" name="p" nillable="true" type="q6:Class1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClass1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/QLVS_1911060974_Hai" minOccurs="0" name="GetClass1Result" nillable="true" type="q7:Class1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClass1s">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClass1sResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/QLVS_1911060974_Hai" minOccurs="0" name="GetAllClass1sResult" nillable="true" type="q8:ArrayOfClass1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>